extends ../layout

block head
    title Fish Candies

block css
    link(rel='stylesheet' href='/static/css/search.css')
    link(rel='stylesheet' href='/static/css/bus/timings.css')
    link(rel='stylesheet' href='/static/css/bus/timings-list.css')

block scripts
    script(src='/static/scripts/search.js' async)

block header
    img#page-icon(src='/static/images/magnifying-glass.svg')
    span#header='Fish Candies'

block content
    div#searchbar
        input#input
    div#results
