extends ../layout

block head
    title Fish Candies

block css
    link(rel='stylesheet' href='/static/css/search.css')
    link(rel='stylesheet' href='/static/css/dropdown.css')
    link(rel='stylesheet' href='/static/css/bus/timings.css')
    link(rel='stylesheet' href='/static/css/bus/timings-list.css')
    style.
        a#home {margin-left: auto !important;}

block scripts
    script(src='/static/scripts/dropdown.js')
    script(src='/static/scripts/bus/timings-list.js' async)
    script(src='/static/scripts/unfolding-busstop.js' async)

block header
    img#page-icon(src='/static/images/magnifying-glass.svg')
    span#header='Fish Candies'

block content
    div#searchbar
        input#input
    div#results
