* > .coloured-row:nth-child(even) {
    background-color: #2a2a2a;
}

* > .coloured-row:nth-child(odd) {
    background-color: #202020;
}

#svcSummary {
    display: flex;
    height: calc(7vh + 6vw);
}

#svcNumber {
    width: calc(9vh + 9vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#svcText {
    font-size: calc(3vh + 3vw);
    margin-top: calc(-1vh - 0.6vw);
}

#terminals > a {
     height: calc(3.5vh + 3vw);
     display: flex;
     align-items: center;
     font-size: calc(1.7vh + 1.3vw);
     width: calc(100vw - 9vw - 9vh);
}

#terminals > a > span {
    margin-left: calc(1.2vh + 0.5vw);
}

.svc-sbst {
    background-color: #b845be;
}

.svc-smrt {
    background-color: #c63d3d;
}

.svc-tts {
    background-color: #4ebe45;
}

.svc-gas {
    background-color: #d7832c;
}


.table-header {
    background-color: #171717;
}

.table-data {
    height: calc(3vh + 3vw);
    display: flex;
    align-items: center;
    font-size: calc(1.3vh + 1.4vw);
    justify-content: center;
}

.table-data > * {
    text-align: center;
    width: 30vw;
}

.table-data > span {
    margin-top: calc(-0.3vh - 0.1vw);
}

.freqTime {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.freqTime > span:nth-child(1) {
    font-size: calc(1.1vh + 1.2vw);
}

.freqTime > span:nth-child(2) {
    font-size: calc(0.5vh + 0.8vw);
    margin-top: calc(-0.1vh - 0.3vw);
}

#keyTimings > div.coloured-row:nth-child(5) {
    display: none;
}

@media (min-width: 700px) {
    #serviceTimings {
        display: flex;
        flex-direction: row;
    }

    .table-data > * {
        width: 15vw;
    }

    .table-data {
        width: 50vw;
    }

    .table-header {
        font-size: calc(1.2vh + 1vw);
    }

    #keyTimings > div.coloured-row:nth-child(5) {
        display: block;
    }

    #keyTimings > div.coloured-row > :nth-child(1) {
        font-size: calc(1vw + 1.1vh);
    }

}

.table-data.spacing2 {
    width: 100vw;
}

.table-data.table-header.spacing2 {
    font-size: calc(0.96vh + 1.1vw);
}

.table-data.table-header.spacing2 > span:nth-child(3) {
    font-size: calc(1.3vh + 1.4vw);
}


.table-data.spacing2 > * {
    width: 30vw;
}

.spacing2 > span:nth-child(1), .spacing2 > span:nth-child(2) {
    width: 20vw;
}

.spacing2 > :nth-child(3) {
    width: 60vw;
}

.spacing2.coloured-row > div:nth-child(3) {
    display: inline-flex;
}

div.busStop {
    display: flex;
    flex-direction: column;

    text-align: left;
    position: relative;
    left: calc(3vh + 2vw);
}

div.busStop > span:nth-child(1) {
    color: #8f8f8f;
    font-size: calc(1vh + 0.7vw);
    margin-top: calc(0.1vh + 0.1vw);
}

div.busStop > span:nth-child(2) {
    font-size: calc(1.1vh + 1.1vw);
}

.busArr {
    display: inline-flex;
    margin-left: auto;

    height: calc(3vh + 3vw);
    color: #101010;
}

.busArrIndicator {
    width: 5.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.load-1 {
    background-color: #60bd29;
}

#busStops > .coloured-row:nth-child(even) .load-1 {
    background-color: #58ad25;
}

.load-2 {
    background-color: #d0ae16;
}

#busStops > .coloured-row:nth-child(even) .load-2 {
    background-color: #be9f14;
}

.load-3 {
    background-color: #b23624;
}

#busStops > .coloured-row:nth-child(even) .load-3 {
    background-color: #a13121;
}

.busArrIndicator > span {
    font-size: calc(1.1vh + 1.2vw);
}

.busInfo {
    font-size: calc(0.7vh + 0.7vw);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 5.5vw;
}

.busInfo > img {
    width: calc(0.7vh + 0.7vw);
    height: calc(0.7vh + 0.7vw);
}
