.busStopContainer {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.busStopContainer:nth-child(even) {
    background: #202020;
}

.busStopContainer:nth-child(odd) {
    background: #2a2a2a;
}

.busStopHideContainer {
    width: 100vw;
    display: flex;
    color: #c5c5c5;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-top: calc((100vw + 100vh) * 0.01);
    padding-bottom: calc((100vw + 100vh) * 0.01);
}

.busStopHideCheckbox {
    display: none;
}

.busStopHideCheckbox:checked ~ .busStopContents {
    display: flex;
}

.busStopHideCheckbox:not(:checked) ~ .busStopContents {
    display: none;
}

.busStopName {
    font-size: calc((100vw + 100vh) * 0.03);
}

.busStopContents {
    width: 100vw;
    display: flex;
    color: #c5c5c5;

    flex-direction: column;
}

#services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    height: calc(10vw + 10vh);
}

#direction-selector {
    display: flex;
    width: 100wv;
}

#direction-selector div {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(2vw + 2vh);
    height: calc(5vw + 5vh);

    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

ul#service-selector li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectorButton {

    display: flex;
    justify-content: center;
    align-items: center;
}

div.busServiceContainer {
    display: none;
    position: absolute;
}

div.busServiceContainer > div.serviceDirectionContainer {
    height: calc(100vh - (4vw + 4vh) - (5vw + 5vh));
    overflow-y: scroll;
}

@media (min-width: 700px) {

    div.busServiceContainer-2 > div.serviceDirectionContainer {
        width: 50vw;
    }

    div.busServiceContainer-2 .busStopHideContainer {
        width: 50vw;
    }

    div.busServiceContainer-2 .busService {
        width: 50vw;
    }

    div.busServiceContainer-2 .serviceDirectionContainer:nth-child(2) .busStopContainer:nth-child(odd){
        background-color: #202020;
    }

    div.busServiceContainer-2 .serviceDirectionContainer:nth-child(2) .busStopContainer:nth-child(even) {
        background-color: #2a2a2a;
    }
}

@media (max-width: 699px) {
    div.busServiceContainer-2 > div.serviceDirectionContainer {
        width: 100vw;
        position: absolute;
    }
}

#direction-selector div.active {
    border-bottom: calc(0.3vw + 0.3vh) solid red;
}
