extends ../../layout

block head
    title TransportSG - Nearby Bus Stops
    
block scripts
    script(src='/static/scripts/bus/stops/nearby.js')

block css
    link(rel='stylesheet' href='/static/css/bus/stops/nearby.css')

block header
    span#title Nearby Bus Stops

block content
