mixin section(name, services)
    if services !== ''
        h4=name
        code=services

html
    body
        +section('B10M Deployments', mkivDeployments)
        +section('VSO Deployments', vsoDeployments)
        +section('KJDEP Bendies', kjdepBendy)
        
        +section('SLBP Downsize', slbpDownsize)
        +section('BNDEP Downsize', bndepDownsize)
        +section('BBDEP Downsize', bbdepDownsize)
        +section('KJDEP Downsize', kjdepDownsize)
        
        +section('SEDEP Bendy', sedepBendy)
        
        +section('KJDEP Upsize', kjdepUpsize)
        +section('BUDEP Upsize', budepUpsize)
        +section('Express Upsize', expUpsize)
        +section('Demons', demons)
        +section('MANDY', mandy)
        +section('Habit/Volgren', nwabBendy)
        +section('UPDEP Upsize', updepUpsize)
