extends ../layout.pug

block css
    link(rel='stylesheet' href='/static/css/search.css')

block scripts    
    script(src='/static/scripts/idb.js')
    script(src='/static/scripts/bookmarks.js' async)

block header
    span#title Bookmarks
