extends layout

block css
    link(rel='stylesheet' href='/static/css/index.css')

block header
    span#header TransportSG

block content
    div.wrap
        a(href='/bookmarks').feature
            img(src='/static/images/home/bus_timings.svg')
            span Bookmarks
        a(href='/nearby').feature
            img(src='/static/images/home/nearby_bus_stops.svg')
            span Nearby Bus Stops
        a(href='/nearby/nwabs').feature
            img(src='/static/images/home/nearby_nwabs.svg')
            span Nearby NWABs
        a(href='/mrt/timings').feature
            img(src='/static/images/home/mrt_timings.svg')
            span MRT Timings
        a(href='/search').feature
            img(src='/static/images/home/general_search.svg')
            span General Search
        a(href='/lookup').feature
            img(src='/static/images/home/about_this_site.svg')
            span Bus Lookup
