html
    head
        meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='google' content='notranslate')
        meta(name='theme-color' content='#171717')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')


        link(rel='icon' type='image/png' href='/static/images/favicon.png')
        link(rel='shortcut icon' type='image/png' href='/static/images/favicon.png')
        link(rel='apple-touch-icon' type='image/png' href='/static/images/favicon.png')

        link(rel='stylesheet' href='/static/css/style.css')
        block css

        block scripts

        block head
    body
        div#header
            block header
            a(href='/') Home
        div#content
            block content
