extends ../layout.pug

block css
    link(rel='stylesheet' href='/static/css/nwabs/nearby.css')
    link(rel='stylesheet' href='/static/css/dropdown.css')
    link(rel='stylesheet' href='/static/css/bus/timings.css')
    link(rel='stylesheet' href='/static/css/bus/timings-list.css')
    style.
        a#home {margin-left: auto !important;}

block scripts
    script(src='/static/scripts/nwabs-nearby.js' async)
    script(src='/static/scripts/dropdown.js')
    script(src='/static/scripts/unfolding-busstop.js' async)

block header
    img#page-icon(src='/static/images/bus-stop.svg')
    span#header Locate Nearby NWABs

block content
