div#serviceSummary
    -var svcs = Object.values(services).map(svc => svc.fullService);
    
    span Service Summary:
    span=' ' + svcs.sort().join(', ')
    
div#busStops
    - let destinations = busStops;
    for busStopCode in Object.keys(buses)
        -let busStopData = busStops[busStopCode];
        -let busTimings = buses[busStopCode];
        

        div.busStopContainer
            label(for='checkbox-' + busStopCode).busStopHideContainer
                span.busStopName=busStopData.busStopName
            input(type='checkbox' id='checkbox-' + busStopCode bus-stop-code=busStopCode).busStopHideCheckbox
            div.busStopContents
                - let doNotPredict = true;
                include bus-timings
