div#serviceSummary
    -var svcs = Object.values(services).map(svc => svc[0].fullService);
    
    span Service Summary:
    span=' ' + svcs.sort().join(', ')
    
div#busStops
    for busStopCode in Object.keys(buses)
        -let busStopData = busStopsData[busStopCode]
        -let busTimings = buses[busStopCode]

        div.busStopContainer
            label(for='checkbox-' + busStopCode).busStopHideContainer
                span.busStopName=busStopData.busStopName
            input(type='checkbox' id='checkbox-' + busStopCode bus-stop-code=busStopCode).busStopHideCheckbox
            div.busStopContents
                include bus-timings
