extends ../layout

block head
    title TransportSG - Bus Lookup
    
block scripts
    script(src='/static/scripts/dropdown.js')
    script(src='/static/scripts/bus/lookup.js' async)

block css
    link(rel='stylesheet' href='/static/css/bus/lookup.css')
    link(rel='stylesheet' href='/static/css/dropdown.css')
    link(rel='stylesheet' href='/static/css/loading.css')

block header
    span#title Bus Lookup
    
block links
    ul#lookup-method
        li Rego
        li Service

block content
    div#searchbar
        input(type='number')#input
    div#loading(style='display: none')
        div#loadingBar
    div#results
